@model ProjetHotel.Models.Paiement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Paiement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePaiment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePaiment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Méthode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Méthode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Satut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Satut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RéservationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RéservationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
